@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;

}
body{
    font-family: 'Nunito', sans-serif;
}
.text {
    background-color: #dc3545; 
    color: white;
    /* border: 5px solid rgba(186, 93, 93, 0.452); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
    font-size: 70px;
    height: 170px;
}
.text:hover{
    background-color: black;
} 
.title{
    background-color: #dc3545; 
    color: white;
    /* border: 5px solid rgba(186, 93, 93, 0.452); */
    cursor: pointer;
}
.title {
    font-weight: bold; 
    /* font-size: 70px; */
}

.container{
    width: 95%;
    height: 450px;
}
.text{
    height: 90px;
}

@media screen  and (min-width:975px) {

    .container{
        width: 25%;
        height: 520px;
       

    }
    .text{
        height: 110px;
    }
    
}